<!DOCTYPE html>
<html>
<head>
  {% if title %}
  <title>{{ title }} - {{ brand }}</title>
  {% else %}
  <title>{{ brand }}</title>
  {% endif %}
  <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"> -->
</head>
<body>
  {% include "header.html" %}
  {% block content%}{% endblock %}
  {% include "footer.html" %}
  <!-- Javascript Libraries required for Bootstrap -->
  <!-- Keep them at the bottom of <body> -->
  <script src="{{ url_for('static', filename='node_modules/jquery-3.4.1.min.js')}}"></script>
</body>
</html>