<html>
<head>
  {% if title %}
  <title>{{ title }} - {{ brand }} </title>
  {% else %}
  <title>{{ brand }} </title>
  {% endif %}
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>


      <div class="row">
      <ul  class="main-nav">
        <li class="active"><a href="/"> HOME </a> </li>
        <li><a href="/services"> SERVICES </a> </li>
        <li><a href="/about"> ABOUT </a> </li>
        <li><a href="/contact"> CONTACT </a> </li>
        <li class="login"><a href="/login"> LOG IN </a> </li>
      </ul>
    </div>



    </header>
</body>
</html>
