{% extends "base.html" %}

{% block content%}
  <h1>About</h1>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-6">{{ info[0] }}</h1>
      <hr class="my-4">
      <div class="row">
        
        <div class="col-6 col-md-6">
          <p>
            <i class="icon ion-ios-globe"></i> <a href="https://{{ info[1] }}"> https://{{ info[1] }}</a>
          </p>
          <p>
            <i class="icon ion-ios-mail"></i> <a href="mailto:{{ info[2] }}">{{ info[2] }}</a>
          </p>
          <p>
            <i class="icon ion-ios-call"></i> {{ info[3] }}
          </p>
        </div>

        <div class="col-6 col-md-6">
        <p><i class="icon ion-ios-pin"></i> {{ info[4] }}</p>
        <p> {{ info[5] }}</p>
        <p> {{ info[6] }}/{{ info[7] }}</p>
        <p> {{ info[8] }}</p>
        </div>
      </div>
    </div>
    
    
  </div>
{% endblock %}