<!DOCTYPE html>
<html>
<head>
  {% if title %}
  <title>{{ title }} - {{ brand }}</title>
  {% else %}
  <title>{{ brand }}</title>
  {% endif %}
  <link href="{{ url_for('static', filename='node_modules/bootstrap/scss/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body class="background">
  <!-- Display Flash messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <!-- Display header -->
  {% include "header.html" %}
  
  <!-- Display main content -->
  <div class="main-content">
    {% block content%}{% endblock %}
  </div>

  <!-- Display footer -->
  {% include "footer.html" %}

  <!-- Javascript Libraries required for Bootstrap -->
  <!-- Keep them at the bottom of <body> -->
  <script src="{{ url_for('static', filename='node_modules/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='node_modules/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>