/*********************************/
/*           VARIABLES           */
/*********************************/
:root{
  --header-height: 180px;
  --footer-height: 60px;
  /* More info on vh: https://www.w3.org/TR/css3-values/#viewport-relative-lengths */
  /* Fix #8 Credit: https://stackoverflow.com/a/26090114/4258598 */
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}


body
{
  height: 100vh;

  /* Stick footer to the bottom - Part: 1/2 */
  /* Credit: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header
{
    height: var(--header-height);
    flex-shrink: 0; /* Fix for Safari. Credit: https://stackoverflow.com/a/34146411/4258598 */
}

footer
{
  height: var(--footer-height);
  flex-shrink: 0; /* Fix for Safari. Credit: https://stackoverflow.com/a/34146411/4258598 */
}

.main-content
{
  min-height: var{--content-height};
  flex-shrink: 0; /* Fix for Safari. Credit: https://stackoverflow.com/a/34146411/4258598 */
  /* Stick footer to the bottom - Part: 2/2 */
  /* Credit: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer */
  flex: 1;
}